<!DOCTYPE html>
<!-- 타임리프 형식으로 리스트 데이터를 받기위해 XMLns 설정 -->
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
</head>

<style>
    .layout {
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }
</style>

<body>

    <div class="layout">
        <table>
            <thead>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                </tr>
            </thead>
            <tbody>
            <!--each 의미: board에 담긴 List 데이터들이 전부 들어 갈때까지 반복-->
            <!--타입리프에서 테이블 명칭을 임의로 부여해서 가져오는 것으로 의심...-->
                <tr th:each="board : ${List}">
                    <td th:text="${board.idboard}"></td>
                    <td th:text="${board.title}"></td>
                </tr>
            </tbody>

        </table>

    </div>

</body>
</html>